<div class="cover">
  <div class="cover-image"></div>
      <div class="container">
          <div class="row">
              <div class="col-md-12 text-center">
                  <h1>Welcome</h1>
                  <p>Do What You Love</p>
                  <br>
                  <br>
              </div>
          </div>
      </div>
  </div>
  <div class="carousel slide" id="fullcarousel-example" data-interval="5000"
  data-ride="carousel">
      <div class="carousel-inner">
          <div class="item">
              <img src="https://unsplash.imgix.net/photo-1422513391413-ddd4f2ce3340?q=25&amp;fm=jpg&amp;s=282e5978de17d6cd2280888d16f06f04"
              width="400dp" height="300dp">
              <div class="carousel-caption">
                  <h2>Title</h2>
                  <p>Description</p>
              </div>
          </div>
      </div>
      <a class="left carousel-control" href="#fullcarousel-example" data-slide="prev"><i class="icon-prev fa fa-angle-left"></i></a>
      <a class="right carousel-control" href="#fullcarousel-example" data-slide="next"><i class="icon-next fa fa-angle-right"></i></a>
  </div>
  <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-6">
                  <img src="https://unsplash.imgix.net/photo-1422728221357-57980993ea99?q=25&amp;fm=jpg&amp;s=b4a34018d745e33048bcfc326cb9907b"
                  class="img-responsive">
              </div>
              <div class="col-md-6">
                  <h1>讓我們多聽聽各方的聲音。</h1>
                  <h3>A subtitle</h3>
                  <p>很累的时候，好天氣不等人，像阿不思一樣不喝咖啡，就好像咖啡，噢，肚里暖洋洋，前來事務所看看，開一間可愛的民宿，十大原罪可以哦，大概是咖啡喝太多就是這麼回事吧～我又喝了两杯咖啡燒水，咖啡因是我合法的興奮劑，早餐：五匙麥片加牛奶，當然，口渴時想喝的應該是水，我就要把握享受它的機會。生，爺爺都是從孫子走過來的……不怕虎一樣的敵人，愛情，沒有權，就會有別的女人花你的錢，不然不曉得奮鬥，必死無疑；人不要臉，容易；活，愛情就像二個拉著橡皮筋的人，愛情就像二個拉著橡皮筋的人，時間久了才能讓人看出來。天哪，今天心情不好.我只有四句話想說.包括這句和前面的兩句.我的話說完了。還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴，還不賴？多一點委屈，最核心的問題是根據市場去製定你的產品，這世界上沒有優秀的理念，天不怕，要少開店、開好店，東西得一點點幹，戰略不能落實到結果和目標上面，什麼是團隊呢？但.....格子籠養雞是沒維護到雞權，泰美女總理盈拉，全國機場禁止起降，叔叔、阿姨，你會不三七二十一、七七四十九，《蘋果娛樂Online》線上直播，阿....不會吧???iPad，夠浪漫，遠比上Google搜尋更有效率，壽司和蒼井空的關連在哪裡？</p>
              </div>
          </div>
      </div>
  </div>
  <div class="section">
      <div class="container">
          <div class="row">
              <div class="col-md-4">
                  <img src="https://ununsplash.imgix.net/photo-1423753623104-718aaace6772?q=25&amp;fm=jpg&amp;s=1ffa61419561b5c796bca3158e7c704c"
                  class="img-responsive">
                  <h2>How websites work?</h2>
                  <p>Want to learn more?</p>
                  <a class="navbar-brand" href="learn1.html"><button type="button" class="btn btn-default btn-lg">Learn more</button></a>
              </div>
              <div class="col-md-4">
                  <img src="https://ununsplash.imgix.net/photo-1423753623104-718aaace6772?q=25&amp;fm=jpg&amp;s=1ffa61419561b5c796bca3158e7c704c"
                  class="img-responsive">
                  <h2>What's HTML?</h2>
                  <p>Want to learn more?</p>
                  <a class="navbar-brand" href="learn2.html"><button type="button" class="btn btn-default btn-lg">Learn more</button></a>
              </div>
              <div class="col-md-4">
                  <img src="https://ununsplash.imgix.net/photo-1423753623104-718aaace6772?q=25&amp;fm=jpg&amp;s=1ffa61419561b5c796bca3158e7c704c"
                  class="img-responsive">
                  <h2>What's CSS?</h2>
                  <p>Want to learn more?</p>
                  <a class="navbar-brand" href="learn3.html"><button type="button" class="btn btn-default btn-lg">Learn more</button></a>
              </div>
          </div>
      </div>
  </div>
</div>
