<div class="container section">
  <div class="col-md-8 col-md-offset-2">
    <div class="scoreboard">
      <h3><span class="score">0</span></h3>
    </div>
    <dl class="q">
      <dt>What does the acronym URL stand for?</dt>
      <dd><a class="error">Unknown Reference Location</a></dd>
      <dd><a class="success">Uniform Resource Locator</a></dd>
      <dd><a class="error">Unfamiliar Rodent Lounge</a></dd>
    </dl>
    <hr />
    <dl class="q">
      <dt>The series of numbers representing a Web address are better known as what?</dt>
      <dd><a class="error">URL</a></dd>
      <dd><a class="success">IP Address</a></dd>
      <dd><a class="error">HTTP</a></dd>
    </dl>
    <hr />
    <dl class="q">
      <dt>What are the four numbers in an IP address commonly called?</dt>
      <dd><a class="error">Complex Numbers</a></dd>
      <dd><a class="error">Rational Numbers</a></dd>
      <dd><a class="success">Octets</a></dd>
    </dl>
    <hr />
    <dl class="q">
      <dt>What kind of servers make it possible to create Web addresses using words instead of numbers?</dt>
      <dd><a class="error">FTP Servers</a></dd>
      <dd><a class="success">Domain Name Servers</a></dd>
      <dd><a class="error">XML Servers</a></dd>
    </dl>
    <hr />
    <dl class="q">
      <dt>What are the three parts of a Web site's address?</dt>
      <dd><a class="error">Host Name, Folder Name, Subfolder Name</a></dd>
      <dd><a class="error">Domain Name, Subdomain Name, Machine Address</a></dd>
      <dd><a class="error">Host Name, Domain Name, Top-level Domain Name</a></dd>
    </dl>
    <hr />
    <dl class="q">
      <dt>What do server machines use to designate each of their services?</dt>
      <dd><a class="error">Routers</a></dd>
      <dd><a class="success">Ports</a></dd>
      <dd><a class="error">Hubs</a></dd>
    </dl>
    <hr />
    <dl class="q">
      <dt>What do DNS servers use to help resolve DNS names to IP addresses?</dt>
      <dd><a class="error">Accounting</a></dd>
      <dd><a class="error">Authorization</a></dd>
      <dd><a class="error">Backward Lookup Zones</a></dd>
      <dd><a class="success">Reverse Lookup Zones</a></dl>
    </dl>
    <hr />
    <dl class="q">
      <dt>What do DNS servers use to help resolve DNS names to IP addresses?</dt>
      <dd><a class="error">Accounting</a></dd>
      <dd><a class="error">Administration</a></dd>
      <dd><a class="error">Backward Lookup Zones</a></dd>
      <dd><a class="success">Forward Lookup Zones</a></dd>
    </dl>
    <hr />
    <dl class="q">
      <dt>What is the term for a machine that contacts a server for information?</dt>
      <dd><a class="success">Client</a></dd>
      <dd><a class="error">Master</a></dd>
      <dd><a class="error">Host</a></dd>
    </dl>
    <hr />
    <dl class="q">
      <dt>Folders with subfolders on a system, like domain names with subdomains, are said to have a structure resembling what?</dt>
      <dd><a class="error">Branch</a></dd>
      <dd><a class="error">Forest</a></dd>
      <dd><a class="error">Root</a></dd>
      <dd><a class="error">Tree</a></dd>
    </dl>
  </div>
</div>
