<div class="container section">
	<div class="col-md-offset-2 col-md-8">
		<div class="scoreboard">
			<h3><span class="score">0</span></h3>
		</div>
		<dl class="q">
		 	<dt>What does CSS stand for?</dt>
			<dd><a href="" class="error">Creative Style Sheets</a></dd>
			<dd><a href="" class="error">Computer Style Sheets</a></dd>
			<dd><a href="" class="error">Colorful Style Sheets</a></dd>
			<dd><a href="" class="success">Cascading Style Sheets</a></dd>
		</dl>
		<hr />
		<dl class="q">
		 	<dt>下面哪個不是 CSS 選擇器？</dt>
			<dd><a href="" class="error">.header + a { }</a></dd>
			<dd><a href="" class="error">.header > a { }</a></dd>
			<dd><a href="" class="success">.header & a { }</a></dd>
			<dd><a href="" class="error">.header a { }</a></dd>
		</dl>
		<hr />
		<dl class="q">
		 	<dt>What is the correct HTML for referring to an external style sheet?</dt>
			<dd><a href="" class="error">&lt;style src=&quot;mystyle.css&quot;&gt;</a></dd>
			<dd><a href="" class="error">&lt;stylesheet&gt;mystyle.css&lt;/stylesheet&gt;</a></dd>
			<dd><a href="" class="success">&lt;link rel=&quot;stylesheet&quot; type=&quot;text/css&quot; href=&quot;mystyle.css&quot;&gt;</a></dd>
			</dd>
		</dl>
		<hr />
		<dl class="q">
		 	<dt>在 CSS 中，如何一次選取全部元素？</dt>
				<dd>
					<a href="" class="error">& { }</a>
				</dd>
				<dd>
					<a href="" class="success">* { }</a>
				</dd>
				<dd>
					<a href="" class="error">% { }</a>
				</dd>
				<dd>
					<a href="" class="error">all { }</a>
				</dd>
		</dl>
		<hr />
		<dl class="q">
		 	<dt>下列哪一個是 id 選擇器？</dt>
			<dd>
				<a href="" class="error">.id { }</a>
			</dd>
			<dd>
				<a href="" class="success">#id { }</a>
			</dd>
			<dd>
				<a href="" class="error">:id { }</a>
			</dd>
			<dd>
				<a href="" class="error">1id { }</a>
			</dd>
		</dl>
		<hr />
		<dl class="q">
		 	<dt>下列何者不是清單標籤？</dt>
			<dd>
				<a href="" class="error">&lt;ul&gt;&lt;/ul&gt;</a>
			</dd>
			<dd>
				<a href="" class="error">&lt;ol&gt;&lt;/ol&gt;</a>
			</dd>
			<dd>
				<a href="" class="success">&lt;th&gt;&lt;/th&gt;</a>
			</dd>
			<dd>
				<a href="" class="error">&lt;dl&gt;&lt;/dl&gt;</a>
			</dd>
		</dl>
		<hr />
		<dl class="q">
		 	<dt>如果直接將 CSS 樣式寫在網頁內容裡，則 CSS 樣式應該被包覆在下列哪一種標籤中？</dt>
			<dd>
				<a href="" class="success">&lt;style&gt;&lt;/style&gt;</a>
			</dd>
			<dd>
				<a href="" class="error">&lt;script&gt;&lt;/script&gt;</a>
			</dd>
			<dd>
				<a href="" class="error">&lt;stylesheet&gt;&lt;/stylesheet&gt;</a>
			</dd>
			<dd>
				<a href="" class="error">&lt;css&gt;&lt;/css&gt;</a>
			</dd>
			</dd>
		</dl>
		<hr />
		<dl class="q">
		 	<dt>下列哪一個 CSS 命名是錯誤的？</dt>
			<dd>
				<a href="" class="error">.header</a>
			</dd>
			<dd>
				<a href="" class="success">.2-header</a>
			</dd>
			<dd>
				<a href="" class="error">._header</a>
			</dd>
			<dd>
				<a href="" class="error">.-header</a>
			</dd>
		</dl>
		<hr />
		<dl class="q">
		 	<dt>如何使用 CSS 將元素固定在畫面上，而不會受到卷軸滾動影響？</dt>
			<dd>
				<a href="" class="error">position: relative</a>
			</dd>
			<dd>
				<a href="" class="success">position: fixed</a>
			</dd>
			<dd>
				<a href="" class="error">display: inline</a>
			</dd>
			<dd>
				<a href="" class="error">box-sizing: border-box</a>
			</dd>
		</dl>
		<hr />
		<dl class="q">
		 	<dt>下列哪一個不是 CSS 預處理器？</dt>
			<dd>
				<a href="" class="error">Sass</a>
			</dd>
			<dd>
				<a href="" class="error">Less</a>
			</dd>
			<dd>
				<a href="" class="error">Stylus</a>
			</dd>
			<dd>
				<a href="" class="success">yml</a>
			</dd>
		</dl>
	</div>
	<div class="col-xs-6 col-xs-offset-3 btn-refresh">
		<button id="PageRefresh" class="btn btn-lg btn-block">在玩一次</button>
	</div>
</div>

<%= javascript_include_tag 'alertify/alertify.min.js' %>
<%= javascript_include_tag 'alertify/test.js' %>
