<header>
	<div id="downscrolling_hype_container" style="position:relative;width:100%;height:100%;overflow:hidden;margin:0 auto;" aria-live="polite">
		<%= javascript_include_tag 'timeline/downscrolling_hype_generated_script' %>
	</div>
	<h1>Flash Multimedia Final Project Process Timeline</h1>
</header>
<section id="cd-timeline" class="cd-container">
	<h1 class="sr-only">Final Project Process Timeline</h1>
	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<i class="fa fa-plus"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Initiate a new project</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
			<span class="cd-date">May 31</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<i class="fa fa-plus"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Generate views</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde?</p>
			<span class="cd-date">Jun 14</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<i class="fa fa-video-camera"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Add "how websites work" video.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
			<span class="cd-date">Jun 16</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
			<i class="fa fa-wrench"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Fixed deploy failure of video</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
			<span class="cd-date">Jun 17</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<i class="fa fa-video-camera"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Add "What is HTML" video.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
			<span class="cd-date">Jun 18</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-paper">
			<i class="fa fa-file-text"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Add quiz</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
			<span class="cd-date">Jun 19</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<i class="fa fa-plus"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Generate timeline views</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
			<span class="cd-date">Jun 20</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<i class="fa fa-plus"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Add contact form of members page</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
			<span class="cd-date">Jun 21</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-picture">
			<i class="fa fa-plus"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Generate mailer and configure settings</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum.</p>
			<span class="cd-date">Jun 23</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-movie">
			<i class="fa fa-video-camera"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Add "what is CSS" video.</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, obcaecati, quisquam id molestias eaque asperiores voluptatibus cupiditate error assumenda delectus odit similique earum voluptatem doloremque dolorem ipsam quae rerum quis. Odit, itaque, deserunt corporis vero ipsum nisi eius odio natus ullam provident pariatur temporibus quia eos repellat consequuntur perferendis enim amet quae quasi repudiandae sed quod veniam dolore possimus rem voluptatum eveniet eligendi quis fugiat aliquam sunt similique aut adipisci.</p>
			<span class="cd-date">Jun 23</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
			<i class="fa fa-wrench"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Adjusted some styles</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut.</p>
			<span class="cd-date">Jun 23</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->

	<article class="cd-timeline-block">
		<div class="cd-timeline-img cd-demo">
			<i class="fa fa-users"></i>
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Final Demonstration</h2>
			<p>This is the content of the last section</p>
			<span class="cd-date">Jun 24</span>
		</div> <!-- cd-timeline-content -->
	</article> <!-- cd-timeline-block -->
</section> <!-- cd-timeline -->

<%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js' %>
<%= javascript_include_tag 'timeline/modernizr.js' %>
<%= javascript_include_tag 'timeline/timeline.js' %>
