// Place all the styles related to the test controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.alertify,
.alertify-show,
.alertify-log {
	-webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	   -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	     -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
	        transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}

.alertify-log-hide {
	-webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	   -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	    -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	     -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
	        transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}

.alertify-logs {
	position: fixed;
	z-index: 5000;
	top: 100px;
	right: 30px;
	width: 10%;
	min-width: 80px;
}
.alertify-logs-hidden {
	display: none;
}
	.alertify-log {
		display: block;
		margin-top: 10px;
		position: relative;
		right: -300px;
		opacity: 0;
	}
	.alertify-log-show {
		right: 0;
		opacity: 1;
	}
	.alertify-log-hide {
		-webkit-transform: translate(300px, 0);
		   -moz-transform: translate(300px, 0);
		    -ms-transform: translate(300px, 0);
		     -o-transform: translate(300px, 0);
		        transform: translate(300px, 0);
		opacity: 0;
	}

.alertify-log {
	padding: 10px;
	border-radius: 4px;
	color: #FFF;
}
	.alertify-log-error {
		background: #FE1A00;
		background: rgba(254,26,0,.9);
	}
	.alertify-log-success {
		background: #5CB811;
		background: rgba(92,184,17,.9);
	}
.mg-t-md {
	margin-top: 70px;
}
a {
	color: #03A9F4;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
	color: #FFC107;
}
body {
	counter-reset:section;
}
.q {
	counter-reset:subsection;
	padding: 10px;
}
dt {
	position: relative;
	color: #0288D1;
	font-size: 1.3em;
	margin-bottom: 0.5em;
}
dd {
	line-height: 1.5em;
}
dt,
dd {
	padding-left: 50px;
}
dt::before {
	content:counter(section);
	counter-increment:section;
	position: absolute;
	left: 0;
	top: 0;
	font: bold 50px/1 Sans-Serif;
}
dd::before {
	counter-increment:subsection;
	content: counter(subsection, upper-alpha);
	margin-right: 10px;
	color: #03A9F4;
}

.disabled,
.disabled a,
.disabled dt,
.disabled dd::before {
	pointer-events: none;
	color: #B6B6B6;
}
span.score::before {
	content: "目前分數：";
}
.btn-refresh,
.scoreboard {
	margin-top: 50px;
	margin-bottom: 50px;
}
.btn-refresh button {
	background-color: #FFC107;
	color: #fff;
}
.scoreboard {
	z-index: 5000;
	color: #2196F3;
	position: fixed;
	top: 0px;
	right: 30px;
}

dd.correct::before {
	color: #388E3C;
}
dd.wrong::before {
	color: #D32F2F;
}

@media screen and (max-width: 992px) {
	span.score {
		background-color: #B3E5FC;
		padding: 3px 15px;
		border-radius: 3px;
		&::before {
			content: "";
		}
	}
}
