<footer class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1><i class="fa fa-hand-o-right" style="pointer-events: none;"></i> Join Us</h1>
                <p>Copyright © CYCUIM
                    <br>32023 桃園市中壢區中北路二OO號</p>
            </div>
            <div class="col-sm-6">
                <p class="text-info text-right">
                    <br>
                </p>
                <div class="row">
                    <div class="col-md-12 visible-xs text-left">
                        <a href="https://github.com/HardisonSY/MultimediaDesignProject"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        <a href="https://www.facebook.com/pages/%E4%B8%AD%E5%8E%9F%E5%A4%A7%E5%AD%B8/108333922524869"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>                    
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 hidden-xs text-right">
                        <a href="https://github.com/HardisonSY/MultimediaDesignProject"><i class="fa fa-3x fa-fw fa-github text-inverse"></i></a>
                        <a href="https://www.facebook.com/pages/%E4%B8%AD%E5%8E%9F%E5%A4%A7%E5%AD%B8/108333922524869"><i class="fa fa-3x fa-fw fa-facebook text-inverse"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
