<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="fa fa-users"></i> HELLO</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/">首頁</a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-expanded="false">學習<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                          <%= link_to "How websites work", how_websites_work_path %>
                        </li>
                        <li>
                          <%= link_to "What's HTML", what_is_html_path %>
                        </li>
                        <li>
                          <%= link_to "What's CSS", what_is_css_path %>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                    aria-expanded="false">測驗<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>
                            <a href="question1.html">How Websites Work?</a>
                        </li>
                        <li>
                            <a href="question2.html">What's HTML?</a>
                        </li>
                        <li>
                            <a href="question3.html">What's CSS</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="/members">關於我們</a>
                </li>
            </ul>
        </div>
    </div>
</div>
